.website {
  color: #3dcc97;
}

.navbar {
  background-color: #ffffff;
  border-bottom: 1px solid;
  border-color: #96a09c;
}

.reject {
  background-color: #ab1411;
  color: #ffffff;
}

.accept {
  background-color: #07b547;
  color: #ffffff;
}

.donate {
  background-color: #3dcc97;
  color: #ffffff;
}

.title {
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-style: normal;
}

.text {
  font-family: "Handlee", cursive;
  font-weight: 400;
  font-style: normal;
}

.icon {
  margin: 8px;
  margin-right: 50px;
  color: #3dcc97;
}

.nav-item :hover {
  color: #098256;
}

.search-bar {
  box-shadow: 5px 10px 40px 5px rgb(145, 146, 147);
  padding: 19.5px;
  margin: auto;
  margin-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search-btn {
  box-shadow: 5px 10px 40px 5px rgb(145, 146, 147);
  display: inline-block;
  margin: auto;
  margin-left: 0px;
  border: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  font-size: 19px;
  background-color: #3dcc97;
  color: #ffffff;
}

.search-btn :hover {
  background-color: #098256;
}

.organization-list {
  margin-top: 20px;
}

.scroll {
  width: 500px;
  height: 550px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
}

@media (max-width: 575px) {
  .scroll {
    width: 500px;
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
    margin-bottom: 30px;
  }
}

.organization-select {
  display: inline-block;
  border: 2px solid;
  border-color: #3dcc97;
}

.card {
  display: inline-block;
  padding: 15px;
  margin: 4px;
  cursor: pointer;
}
img {
  width: 20%;
}

.header {
  display: inline-block;
}
form {
  padding-top: 30px;
}

.search-icon {
  display: inline-block;
  margin-right: 10px;
}

.search {
  margin-top: 80px;
  padding: 40px;
  border-bottom: 1px solid;
  border-color: #96a09c;
  margin-right: 30px;
  margin-left: 30px;
}

.delete-btn {
  margin-right: 20px;
  margin-bottom: 5px;
  display: inline-block;
  background-color: #e67b79;
  color: #ffffff;
}

.organization-select {
  display: none;
}

.heading-selected {
  margin-top: 20px;
  margin-bottom: 20px;
}
