form {
  padding-top: 30px;
}

body {
  font-family: "Handlee", cursive;
  font-weight: 400;
  font-style: normal;
}

img {
  margin-right: 7px;
  margin-bottom: 5px;
}
/* Fonts used */
.title {
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Navbar */
.website {
  color: #3dcc97;
}
.navbar {
  background-color: #ffffff;
  border-bottom: 1px solid;
  border-color: #96a09c;
}

.nav-item :hover {
  color: #098256;
}

/* Card list */
.card {
  display: inline-block;
  padding: 15px;
  margin: 4px;
  cursor: pointer;
}
.card-list {
  margin-top: 20px;
}

.scroll {
  width: 500px;
  height: 545px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
}

@media (max-width: 575px) {
  .scroll {
    width: 500px;
    height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
    margin-bottom: 30px;
  }
}

.icon {
  margin: 8px;
  margin-right: 50px;
  color: #3dcc97;
}

/* Card Selected */
.card-select {
  display: inline-block;
  border: 2px solid;
  border-color: #3dcc97;
}

.heading-selected {
  margin-top: 20px;
  margin-bottom: 20px;
}

.header {
  display: inline-block;
}

.card-select {
  display: none;
}

/* Search Area */
.search {
  margin-top: 80px;
  padding: 40px;
  /* border-bottom: 1px solid;
    border-color: #96a09c; */
  margin-right: 30px;
  margin-left: 30px;
}
.search-bar {
  box-shadow: 5px 10px 40px 5px rgb(145, 146, 147);
  padding: 19.5px;
  margin: auto;
  margin-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search-btn {
  box-shadow: 5px 10px 40px 5px rgb(145, 146, 147);
  display: inline-block;
  margin: auto;
  margin-left: 0px;
  border: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  font-size: 19px;
  background-color: #3dcc97;
  color: #ffffff;
}

.search-icon {
  display: inline-block;
  margin-right: 10px;
}

/* Filter Area */
.filter {
  margin-top: 80px;
  padding: 40px;
  border-bottom: 1px solid;
  border-color: #96a09c;
  margin-right: 30px;
  margin-left: 30px;
}

.filter-option {
  display: inline-block;
  margin: auto;
  margin-left: 0px;
  border-radius: 90px;
  font-size: 17px;
  background-color: #6a68b0;
  color: #ffffff;
  margin-bottom: 7px;
}

.filter-btn {
  box-shadow: 5px 10px 40px 5px rgb(145, 146, 147);
  font-size: 19px;
}

.filter-icon {
  display: inline-block;
  margin-right: 10px;
}

.delete-btn {
  margin-right: 20px;
  margin-bottom: 5px;
  display: inline-block;
  background-color: #e67b79;
  color: #ffffff;
}

.reject {
  background-color: #ab1411;
  color: #ffffff;
}

.accept {
  background-color: #07b547;
  color: #ffffff;
}

.donate {
  background-color: #3dcc97;
  color: #ffffff;
}

button[disabled] {
  background-color: #cccccc; /* Light gray */
  color: #666666; /* Dark gray */
  cursor: not-allowed;
}

#quantity {
  width: 40px;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.confirmation-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.16);
  z-index: 1000;
}

.confirmation-box p {
  margin: 0 0 20px;
  font-family: "Patrick Hand", cursive;
  font-size: 20px;
}

.buttons-container {
  display: flex;
  justify-content: center;
}

.buttons-container button {
  margin: 0 10px;
  padding: 10px 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
