<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Handlee&family=Patrick+Hand&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap" rel="stylesheet">

    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../style/LandingPage.css" />

  <title>Charity Website</title>

</head>
<body>
  <div id="root">
    <nav class="navbar">
      <div class="navbar-container">
        <a class="navbar-logo " href="/">Charity 
          <i class="fab fa-typo3"></i>
        </a>
        <div class="menu-icon">
          <i class="navbar-toggler-icon">

          </i>
        </div>
        <ul class="nav-menu">
          <li class="nav-item">
            <a class="nav-links" href="Login.html">My Account</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="hero-container">
      <h1 > You may save the LIFE of a child.</h1>
      <p>Your Donation Counts</p>
      <div class="hero-btns">
        <a class="btn-mobile" href="Login.html">
          <button class="btn-outline-yellow"> Donate Now</button>
        </a>
      </div>
    </div>
</div>

</body>
</html>
