<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Handlee&family=Patrick+Hand&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha384-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="../style/Login.css">
  <title>Login/title>
  
</head>
<body>
  <div id="root">
    <nav class="navbar">
      <div class="navbar-container">
        <a class="navbar-logo " href="/">Charity 
          <i class="fab fa-typo3"></i>
        </a>
        <div class="menu-icon">
          <i class="navbar-toggler-icon">

          </i>
        </div>
        <ul class="nav-menu">
          <li class="nav-item">
            <a class="nav-links" href="Login.html">My Account</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="login-container flex-column d-flex justify-content-center">
      <h2 >Login</h2>
      <form>
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" required>
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required>
        </div>
        <button class="btn btn-primary btn-lg" type="submit">Login</button>
        <p id="register-password">
          
          Forgot your password ? That's OK
          you can reset it <a href="PasswordReset.html">here</a></p>
        <p>Don't have an account yet ?
        you can register right <a href="registration.html">here</a></p> 
      </form>
    </div>
    
    </div>
    

</div>

  <script src="../logic/Login.js"></script>
</body>
</html>
