<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../image/handshake-icon.svg" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Handlee&family=Patrick+Hand&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="../style/index.css">
    <link rel="stylesheet" href="../style/OrganizationHomePage.css">
    <link rel="stylesheet" href="../style/category.css">

    <title>Home Page</title>
  </head>
  <body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="#"
        ><h1 class="title website">CHARITY</h1></a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-nav"><p>Profile</p></div>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="OrganizationHomePage.html"
              ><i class="icon fa-solid fa-house fa-lg"></i
            ></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="OrganizationNotification.html"
              ><i class="icon fa-regular fa-bell fa-xl"></i
            ></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="OrganizationProfile.html"
              ><i class="icon far fa-user fa-lg"></i
            ></a>
          </li>
        </ul>
      </div>
  </nav>


    <section id="testimonials">
      <div
        id="carouselExampleControls"
        class="carousel slide"
        data-ride="carousel"
        data-interval="3000"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container-fluid categories" style="margin-left: 210px;">
      <div class="row">
        <div class="card text-bg-primary mb-3 col-sm-3 medicalCase" style="max-width: 18rem">
          <div class="card-body blood donationRequest">
            <h3 class="card-title title">Create Donation Requests</h3>
            <div class="card-text">
                <span
                ><i class="fa-solid fa-plus" style="color: #ffffff;"></i></span>
            </div>
          </div>
        </div>
        <div class="card text-bg-primary mb-3 col-sm-3 teachingPost Fulfilled" style="max-width: 18rem">
          <div class="card-body blood">
            <h3 class="card-title title">Home Page</h3>
            <div class="card-text">
                <span
                ><i class="fa-solid fa-eye" style="color: #ffffff;"></i></span>
            </div>
          </div>
        </div>
        
        
      </div>
      </div>
          </div>
          
       
      </div>
    </section>
    

   
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script
      src="https://kit.fontawesome.com/78967f1e7f.js"
      crossorigin="anonymous"
    ></script>
    <script src="../logic/OrganizationHomePage.js"></script>
  </body>
</html>
