

 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charity Website</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha384-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Handlee&family=Patrick+Hand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style/index.css">
    <link rel="stylesheet" href="../style/Login.css">
    <link rel="stylesheet" href="../style/registration.css">
</head>
<body>
    <div id="root">
      <nav class="navbar">
        <div class="navbar-container">
          <a class="navbar-logo " href="/">Charity 
            <i class="fab fa-typo3"></i>
          </a>
          <div class="menu-icon">
            <i class="navbar-toggler-icon">
  
            </i>
          </div>
          <ul class="nav-menu">
            <li class="nav-item">
              <a class="nav-links" href="Login.html">My Account</a>
            </li>
          </ul>
        </div>
      </nav>
        <div class="middle-cards">
          <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col-sm-6">
              <div class="OrganizationCard text-center ">
                <a href="OrganizationRegister.html">
                  <div class="card-body">
                      <h5 class="card-title">Organization</h5>
                      <img src="../image/building-regular.svg" class="card-img-bottom img-fluid" style="width: fit-content; height: fit-content;">
                  </div>
              </div>
            </a>
            </div>
            <div class="col-sm-6">
              <div class="DonorCard text-center">
              <a href="DonorRegister.html">
                  <div class="card-body">
                      <h5 class="card-title">Donor</h5>
                      <img src="../image/handshake-regular.svg" class="card-img-bottom img-fluid" style="width: fit-content; height: fit-content;">
                  </div>
              </div>
            </a>
            </div>
          </div>
        </div>
    </div>
  </div>
    <script src="script.js"></script>
</body>
</html>
