<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../image/handshake-icon.svg" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Handlee&family=Patrick+Hand&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="../style/schoolSupplies.css">

    <title>School Supplies List</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="#"
        ><h1 class="title website">CHARITY</h1></a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-nav"><p>School Supplies List</p></div>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="../view/category.html"
              ><i class="icon fa-solid fa-house fa-lg"></i
            ></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../view/DonorNotification.html"
              ><i class="icon fa-regular fa-bell fa-xl"></i
            ></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="../view/DonorProfile.html"
              ><i class="icon far fa-user fa-lg"></i
            ></a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid choices">
      <div class="row">
        <div class="card stationary text-bg-primary mb-3 mr-2 col-md-6 col-sm-5" >
          <div class="card-body clothes">
            <h3 class="card-title title">Stationary</h3>
            <p class="card-text">
              <span
                ><i class="fa-solid fa-pen-ruler" style="color: #ffffff;"></i></span>
            </p>
          </div>
        </div>
        <div class="card book text-bg-primary mb-3 ml-2 col-sm-5">
          <div class="card-body">
            <h3 class="card-title title">Book</h3>
            <div class="card-text">
                <span
                ><i class="fa-solid fa-book" style="color: #ffffff;"></i></span>
            </div>
            </p>
          </div>
        </div>
        
        
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script
      src="https://kit.fontawesome.com/78967f1e7f.js"
      crossorigin="anonymous"
    ></script>
    <script src="../logic/category.js"></script>
    <script src="../logic/schoolSupplies.js"></script>
  </body>
</html>
